$default-font: "roboto-example", sans-serif
$accent1: rgba(70, 138, 152, 1) // #468a98
$accent2: rgba(217, 172, 87, 1) // #d9ac57
$light1: rgba(234, 238, 239, 1) // #eaeeef
$light2: rgba(248, 249, 250, 1) // #f8f9fa
$dark: rgba(75, 87, 92, 1) // #468a98

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
