@import "vars"
@import "fonts"
@import "libs"

// тестовый коммит (залогинился)
// вместо цветов меняю opacity (плохо)
// скроллбар на телефоне (позже)
// стрелочка "вверх"
// галерея - исправить открытие фото
// менять url при выборе пункта меню (сохранение страницы)

body
  color: $dark
  font-family: $default-font
  background-color: $light2
  height: 100%

a
  transition: 0.2s

::selection
  background-color: $accent1
  color: $light2

#bar
  position: fixed
  transition: 0.1s
  overflow: hidden
  top: 0
  left: 0
  height: 3px
  background-color: $accent2
  z-index: 3

header
  background-color: $light2
  border-bottom: 2px solid $light1
  line-height: 0 // возможно, костыль
  .header-inner
    max-width: 1525px
    padding: 25px 50px
    margin: 0 auto
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 10px
    font-size: 14px
    font-weight: 300
    a
      text-decoration: none
      color: $dark
    .logo
      display: flex
      justify-content: flex-start
      #logo-link
        text-transform: uppercase
        font-size: 20px
        &:hover
          color: $accent2
    .about
      display: flex
      justify-content: flex-end
      #about-link
        &:hover
          color: $accent1

.main
  max-width: 1525px
  padding: 50px 50px 0
  margin: 0 auto
  display: grid
  grid-template-columns: 1fr 4fr
  grid-template-rows: auto
  grid-gap: 50px
  nav
    text-transform: uppercase
    .list-group
      .list-group-item
        background-color: $light1
        padding: 10px 10px
        color: $accent1
        font-weight: bold
        border: none
        border-radius: 0
        display: grid
        grid-template-columns: 1fr 5fr
        grid-gap: 20px
        border-left: 3px solid $accent1
        &:hover
          border-left: 3px solid $accent2
          color: $accent2
        .icon
          display: flex
          justify-content: center
          align-items: center
          .fas
            font-size: 20px
        .title
          display: flex
          justify-content: flex-start
          align-items: center
        &:nth-child(2)
          margin: 5px 0
      .active
        background-color: rgba(70, 138, 152, 0.95)
        color: $accent2
        border-left: 6px solid $accent2
        &:hover
          background-color: $accent1
  .tab-content
    border: 1px solid rgba(70, 138, 152, 0.2)
    display: flex
    justify-content: center
    align-items: flex-start
    min-height: 100vh
    max-height: 100%
    background-color: $light1
    padding: 50px
    .tab-pane
      max-width: 100%
      .title-2
        margin-bottom: 20px
        font-size: 30px
        text-align: center
        font-weight: bold
      .title-3
        padding-top: 18px
        border-top: 2px solid rgba(217, 172, 87, 0.5)
        margin: 20px 0
        font-size: 25px
        text-align: center
      .paragraph
        text-indent: 3em
        margin-bottom: 10px
        font-size: 18px
        text-align: justify
      #pictures
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 20px
        .item
          display: flex
          justify-content: center
          align-items: center
          transition: 0.5s
          margin: 0
          &:hover
            z-index: 2
            transform: scale(1.05)
            -webkit-box-shadow: 0 0 20px 0 rgba(75, 87, 92, 0.75)
            -moz-box-shadow: 0 0 20px 0 rgba(75, 87, 92, 0.75)
            box-shadow: 0 0 20px 0 rgba(75, 87, 92, 0.75)
          .image
            width: 100%
            height: 100%
            img
              width: 100%
              height: 300px
              object-fit: cover
              transition: 0.5s

footer
  max-width: 1525px
  margin: 0 auto
  padding: 50px
  display: flex
  justify-content: flex-end
  .footer-inner
    text-align: center
    a
      text-decoration: none
      color: $accent1
      border-bottom: 2px solid $accent1
      &:hover
        color: $accent2
        border-bottom: 2px solid $accent2

@import "media"
// Always at the end
